body {
    margin: 0;
    font-family: "SF Hello", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}
background canvas {
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*background-color: brown;*/
}